# Виртуальное окружение
venv/
env/
.env

# Байт-код (мусор, который создает питон при запуске)
__pycache__/
*.py[cod]

# Настройки редакторов (PyCharm, VSCode)
.idea/
.vscode/
*.swp

# Файлы MacOS
.DS_Store
